<template>
  <v-app id="inspire">
    <v-navigation-drawer v-model="drawerLeft" left app>
      <v-list style="text-align: right">
        <v-list-item v-for="link in navigation" :key="link.name"
                     active-class="highlighted"
                     :class="link.path === $route.path ? 'highlighted' : ''"
                     route :to="{ path: link.path }">
          <v-list-item-action>
            <v-icon>{{ link.icon }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>{{ $t(`links.${link.name}`) }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>

    <v-app-bar color="red darken-2" dark app>
      <v-app-bar-nav-icon @click.stop="drawerLeft = !drawerLeft" />
      <v-toolbar-title>{{ appName }}</v-toolbar-title>
      <v-spacer />
      <v-select class="locale-switch"
                v-model="$i18n.locale"
                :items="['en', 'pl']"
                append-icon="mdi-translate"
                hide-details solo dense>
      </v-select>
      </v-app-bar>

      <v-content>
        <v-container fluid>
          <router-view></router-view>
        </v-container>
      </v-content>
      <v-footer color="red darken-2" light inset app>
        <span class="white--text">&copy; 2020</span>
      </v-footer>
    </v-app>
</template>

<script>
import { APP_NAME } from '@/const';

import routes from '@/router/routes';
import { FETCH_BLOOD_GROUPS, FETCH_CENTERS } from '@/shared/types/actions';

export default {
  created () {
    this.$store.dispatch(FETCH_CENTERS);
    this.$store.dispatch(FETCH_BLOOD_GROUPS);
  },
  data: () => ({
    drawerLeft: false,
    appName: APP_NAME,
    navigation: routes.filter(route => route.component)
  }),
  watch: {
    drawerLeft () {
      this.$store.dispatch('TOGGLED_DRAWER', this.drawerLeft);
    }
  }
};
</script>

<style>
.v-content {
  background-color: #ebebeb;
}

.v-expansion-panel-header {
  line-height: 1.5em;
}

.v-expansion-panel-header--active {
  border-bottom: 1px solid #e0e0e0;
}

.red-highlight {
  color: white;
  opacity: 0.75;
  text-shadow:
    -0.04em -0.04em 0 #bb1010,
    0.04em -0.04em 0 #bb1010,
    -0.04em 0.04em 0 #bb1010,
    0.04em 0.04em 0 #bb1010;
}

.title {
  text-align: center;
  margin: 4px 0 8px;
}

.v-list-item--active .v-list-item__action,
.v-list-item--active .v-list-item__content {
  color: red;
}

.v-input.locale-switch {
  flex: unset !important;
}

.locale-switch .v-input__slot {
  width: 75px !important;
  background-color: #da5050 !important;
}
</style>
