<template>
  <v-container style="padding: 0 24px; min-width: 300px; max-width: 600px">
    <h1 id="page-title" class="title red-highlight">{{ $t('header') }}</h1>
    <v-container style="min-width: 200px; max-width: 360px">
      <v-row>
        <v-col style="padding: unset">
          <v-form>
            <v-textarea
              filled solo no-resize
              v-model="message" :label="$t('message')" type="text">
            </v-textarea>

            <v-select v-model="selectedBloodType"
                      :items="bloodTypes" filled solo :label="$t('bloodType')">
            </v-select>
          </v-form>
        </v-col>
      </v-row>

      <v-row class="d-flex" style="flex-direction: column; margin-top: 4px">
        <v-btn class="send-alert" type="submit" @click="sendAlert">
          {{ $t('send-alert') }}
        </v-btn>
      </v-row>
    </v-container>

      <v-dialog v-model="formErr.occured" max-width="700">
        <v-card class="mx-auto form-err">
          <template v-if="formErr.success">
            <v-card-title class="headline">
              {{ $t('success-dialog-header') }}
            </v-card-title>
            <v-card-text>
              <div class="title green-light">
                {{ formErr.message }}
              </div>
            </v-card-text>
          </template>

          <template v-else>
            <v-card-title class="headline">
              {{ $t('err-dialog-header') }}
            </v-card-title>
            <v-card-text>
              <div class="alert-error title ambulance-light">
                {{ formErr.message }}
              </div>
            </v-card-text>
          </template>
        </v-card>
      </v-dialog>
  </v-container>
</template>

<script>
import { mapActions } from 'vuex';

import { FETCH_BLOOD_GROUPS } from '@/shared/types/actions';
import { GET_BLOOD_GROUPS } from '@/shared/types/getters';

import { POST_ALERT } from '@/types/actions';

export default {
  data: () => ({
    message: '',
    selectedBloodType: '',
    centerId: '',
    formErr: { occured: false, message: '' }
  }),
  computed: {
    bloodTypes () {
      return this.$store.getters[GET_BLOOD_GROUPS].map(bg =>
        (bg.bloodType + bg.rh));
    }
  },
  methods: {
    async sendAlert () {
      const bto = this.selectedBloodType.split('');
      const [bloodType, rh] = [
        bto.slice(0, bto.length - 1).join(''),
        bto.slice(bto.length - 1).join('')
      ];

      const filled = [bloodType, rh, this.message].every(s => s !== '');
      if (!filled) {
        this.formErr = { occured: true, message: this.$t('err.alert_form.incomplete') };
        return;
      }

      const response = await this.$store.dispatch(POST_ALERT, {
        bloodDetailsRequestModel: {
          bloodType: bloodType,
          rh: rh
        },
        message: this.message
      });

      if (response.err) {
        this.formErr = {
          occured: true,
          success: response.err.type === 'ok',
          message: this.$t(`err.alert_form.${response.err.type}`)
        };
      }
    },
    selectBloodType (type) {
      this.bloodTypes.forEach(b => {
        b.selected = false;
      });

      type.selected = !type.selected;
    },
    ...mapActions({
      fetchBloodGroups: FETCH_BLOOD_GROUPS
    })
  }
};
</script>

<i18n>
{
  "en": {
    "message": "message",
    "bloodType": "blood type",
    "header": "Post alert",
    "err-dialog-header": "Form error",
    "send-alert": "Send alert",
    "success-dialog-header": "Success"
  },
  "pl": {
    "message": "wiadomość",
    "bloodType": "grupa krwi",
    "header": "Stwórz alert",
    "err-dialog-header": "Błąd formularza",
    "send-alert": "Wyślij alert",
    "success-dialog-header": "Sukces"
  }
}
</i18n>
