<template>
  <v-container style="padding: 0 24px; min-width: 300px; max-width: 600px">
    <h1 id="page-title" class="title red-highlight">{{ $t('header') }}</h1>
    <v-card>
      <v-card-title>{{ $t('my-center') }}</v-card-title>
      <template v-if="center && center.address">
        <v-card-subtitle style="margin-top: 2px">
          {{ center.name }}<br />
          {{ formatAddress(center.address) }}
        </v-card-subtitle>
        <v-card-text>
          <p class="caption" style="margin: 12px 0">
            email: {{ center.email }}<br />
            {{ $t('phone') }}: {{ center.phoneNumber }}<br />
            www: {{ center.webSite }}
          </p>
        </v-card-text>
      </template>
    </v-card>

    <v-spacer style="margin-top: 12px"></v-spacer>
    <v-card>
      <v-card-title>{{ $t('my-blood') }}</v-card-title>
      <v-card-text>
        <div class="d-flex" style="flex-wrap: wrap">
          <template v-for="(b, index) in blood">
            <v-col :key="index" cols="3">
              <div class="blood-block">
                <span style="width: 40px" class="red--text">{{ formatBlood(b) }}</span>
                &nbsp;<span style="font-size: smaller">{{ b.volume }}</span>
              </div>
            </v-col>
          </template>
        </div>

        <v-spacer style="margin-top: 12px"></v-spacer>
        <router-link to="/blood-resources">
          <a>{{ $t('blood-table-link') }}</a>
        </router-link>
      </v-card-text>
    </v-card>
  </v-container>
</template>

<script>
import { mapGetters } from 'vuex';
import { GET_MY_CENTER, GET_MY_CENTER_BLOOD } from '@/types/getters';

export default {
  name: 'info',
  methods: {
    formatAddress ({ postalCode, city, street }) {
      return [postalCode, city].join(' ') + `, ${street}`;
    },
    formatBlood ({ blood }) {
      return [blood.bloodType, blood.rh].join('');
    }
  },
  computed: {
    ...mapGetters({
      center: GET_MY_CENTER,
      blood: GET_MY_CENTER_BLOOD
    })
  }
};
</script>

<style scoped>
  .blood-block {
    background-color: #efefef;
    font-size: 0.775rem;
    margin: -8px;
    padding: 4px;
    display: flex;
    justify-content: space-between;
  }

  @media only screen and (min-width: 600px) {
    .blood-block {
      font-size: 0.925rem;
      margin: -4px;
      padding: 8px;
    }
  }
</style>

<i18n>
{
  "en": {
    "phone" : "phone",
    "header": "Informations",
    "my-center": "My center",
    "my-blood": "Blood resources",
    "blood-table-link": "edit resources"
  },
  "pl": {
    "phone" : "telefon",
    "header": "Informacje",
    "my-center": "Moje centrum",
    "my-blood": "Zasoby krwi",
    "blood-table-link": "edytuj zasoby"
  }
}
</i18n>
