<template>
  <v-container style="padding: 0 24px; min-width: 300px; max-width: 600px">
    <h1 id="page-title" class="title red-highlight">{{ $t('header') }}</h1>
    <v-container style="min-width: 200px; max-width: 360px">
      <v-row justify="center">
        <v-col style="padding: unset">
          <v-form @submit="logIn">
            <v-spacer style="margin: 6px" />
            <v-text-field v-model="login.value" required solo
                          :label="$t('login')"
                          :error-messages="loginErr"
                          @input="login.touch()"
                          @blur="login.touch()"
                          type="text">
            </v-text-field>
            <v-spacer style="margin: 12px" />
            <v-text-field v-model="password.value" required solo
                          :label="$t('password')"
                          :error-messages="passwordErr"
                          @input="password.touch()"
                          @blur="password.touch()"
                          type="password">
            </v-text-field>
            <v-spacer style="margin: 12px" />

            <v-btn type="submit" style="display:none"></v-btn>
          </v-form>
        </v-col>
      </v-row>

      <v-row class="d-flex" style="flex-direction: column; margin-top: 4px">
        <v-btn type="submit" @click="(e) => {logIn(e)}" :disabled="!filled">
          {{ $t('login-btn') }}
        </v-btn>
      </v-row>
    </v-container>

    <v-dialog v-model="authErr.occured" max-width="700">
      <v-card class="mx-auto form-err">
        <v-card-title class="headline">
          {{ $t('err-dialog-header') }}
        </v-card-title>
        <v-card-text>
          <div class="title ambulance-light">
            {{ authErr.message }}
          </div>
        </v-card-text>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
import { LOGIN_USER } from '@/types/actions';

export default {
  data () {
    return {
      authErr: { occured: false, message: '' },
      login: {
        value: '',
        touched: false,
        touch: () => {
          this.login.touched = true;
        }
      },
      password: {
        value: '',
        touched: false,
        touch: () => {
          this.password.touched = true;
        }
      }
    };
  },
  computed: {
    loginErr () {
      return (this.login.touched && this.login.value === '')
        ? this.$t(`err.login.empty.${'login'}`) : '';
    },
    passwordErr () {
      return (this.password.touched && this.password.value === '')
        ? this.$t(`err.login.empty.${'password'}`) : '';
    },
    filled () {
      const touched = (this.login.touched && this.password.touched);
      const noErr = (!this.loginErr && !this.passwordErr);
      return touched && noErr;
    }
  },
  methods: {
    async logIn (event) {
      event.preventDefault();
      if (!this.filled) return;

      const response = await this.$store.dispatch(LOGIN_USER, {
        login: this.login.value,
        password: this.password.value
      });

      if (response.err) {
        this.authErr = {
          occured: true,
          message: this.$t(`err.login.${response.err.type}`)
        };
      } else {
        // redirect somewhere
        this.$router.push({ name: 'centers' });
      }
    }
  }
};
</script>

<style>
.v-dialog .v-card.form-err .v-card__title {
  justify-content: center !important;
  margin-bottom: 24px;
  border-bottom: 1px solid #e0e0e0;
}

.ambulance-light {
  animation: ambulance 1500ms infinite;
}

.green-light {
  animation: goodlight 1500ms infinite;
}

@keyframes ambulance {
  33% {
    color: red;
  }
}

@keyframes goodlight {
  33% {
    color: limegreen;
  }
}
</style>

<i18n>
{
  "en": {
    "header": "Login",
    "login": "login",
    "password": "password",
    "login-btn": "log in",
    "err-dialog-header": "Login error"
  },
  "pl": {
    "header": "Logowanie",
    "login": "login",
    "password": "hasło",
    "login-btn": "zaloguj",
    "err-dialog-header": "Błąd logowania"
  }
}
</i18n>
