<template>
  <v-container style="padding: 0 24px; min-width: 300px; max-width: 600px">
    <h1 id="page-title" class="title red-highlight">{{ $t('header') }}</h1>
    <v-card class="mx-auto">
      <v-simple-table>
      <thead>
      <tr>
        <th style="width: 15%; min-width: 94px">{{ $t('when') }}</th>
        <th style="width: 85%">{{ $t('message') }}</th>
      </tr>
      </thead>
      </v-simple-table>

      <v-simple-table id="table-body" :height="`${tableBodyHeight}px`">
        <tbody>
        <tr v-for="(msg, index) in messages" :key="index">
          <td style="width: 15%; min-width: 94px">{{ extractDate(msg.dateTime) }}</td>
          <td style="width: 85%">{{ msg.text }}</td>
        </tr>
        </tbody>
      </v-simple-table>
    </v-card>

    <v-form @submit="send">
      <v-spacer style="margin: 12px" />
      <v-text-field v-model="newMessage" solo
                    :label="$t('message')"
                    append-icon="mdi-account-voice"
                    type="text">
      </v-text-field>

      <v-btn style="display: none" type="submit"></v-btn>
    </v-form>
  </v-container>
</template>

<script>
import { mapGetters } from 'vuex';
import { GET_MESSAGES } from '@/types/getters';
import { FETCH_MESSAGES, SEND_MESSAGE } from '@/types/actions';

export default {
  name: 'messages',
  async created () {
    await this.$store.dispatch(FETCH_MESSAGES);
    this.tableBodyHeight = this.messageBoxesSpan();
    this.pollMessages();
    window.addEventListener('resize', this.reshape);
  },
  beforeDestroy () {
    window.removeEventListener('resize', this.reshape);
    clearInterval(this.polling);
  },
  data () {
    return {
      polling: null,
      newMessage: '',
      tableBodyHeight: 0
    };
  },
  computed: {
    ...mapGetters({
      messages: GET_MESSAGES
    })
  },
  methods: {
    async send (event) {
      event.preventDefault();
      await this.$store.dispatch(SEND_MESSAGE, {
        'text': this.newMessage
      });
      this.newMessage = '';
    },
    pollMessages () {
      this.polling = setInterval(async () => {
        await this.$store.dispatch(FETCH_MESSAGES);
        this.reshape();
      }, 10 * 1000);
    },
    reshape () {
      const bodyHeight = (window.innerHeight - 350);
      this.tableBodyHeight = Math.min(this.messageBoxesSpan(), bodyHeight);
    },
    messageBoxesSpan () {
      return [...document.querySelectorAll(
        '#table-body tr'
      )].reduce((acc, tr) => acc + tr.offsetHeight, 0);
    },
    extractDate (dateString) {
      const date = new Date(dateString);
      const year = date.getFullYear();
      const month = date.getMonth() + 1;
      const day = date.getDate();
      const time = [
        date.getHours(),
        date.getMinutes(),
        date.getSeconds()
      ].map(o => String(o).padStart(2, '0')).join(':');

      switch (this.$i18n.locale) {
        case 'pl': {
          const date = [day, month, year]
            .map(o => String(o).padStart(2, '0'))
            .join('/');
          return `${date} ${time}`;
        }
        case 'en': {
          const date = [year, month, day]
            .map(o => String(o).padStart(2, '0'))
            .join('-');
          return `${date} ${time}`;
        }
      }
    }
  }
};
</script>

<style scoped>
  .v-data-table td {
    padding: 16px;
    font-size: 0.725rem;
    text-justify: inter-word;
  }
</style>

<i18n>
{
  "en": {
    "header": "Messages",
    "message": "message",
    "when": "date",
    "message": "message",
    "from": "from"
  },
  "pl": {
    "header": "Wiadomości",
    "message": "wiadomość",
    "when": "data",
    "message": "wiadomość",
    "from": "skąd"
  }
}
</i18n>
