<template>
  <v-container style="padding: 0 24px; min-width: 300px; max-width: 600px">
    <h1 id="page-title" class="title red-highlight">{{ $t('header') }}</h1>
    <v-container style="min-width: 200px; max-width: 360px">
      <v-card>
        <app-blood-table :height="450" :bloodResources="bloodResources" :action="edit">
        </app-blood-table>
      </v-card>

      <v-dialog v-model="dialog" persistent max-width="400">
        <v-card class="mx-auto">
          <template v-if="selected.resource">
            <v-card-title style="justify-content: center">
              {{ dialogTitle(selected.resource.blood) }}
            </v-card-title>
            <v-card-text>
              <v-col>
                <v-text-field dense style="padding: 12px 48px 0"
                  v-on:keyup.enter="accept"
                  solo min="0" max="20000"
                  :error-messages="volumeErr"
                  :value="newVolume"
                  v-model="newVolume">
                </v-text-field>
              </v-col>

              <v-card-actions style="padding: unset">
                <v-spacer></v-spacer>
                <v-btn color="red" text @click="cancel">Cancel</v-btn>
                <v-btn color="green" text @click="accept">Accept</v-btn>
              </v-card-actions>
            </v-card-text>
          </template>
        </v-card>
      </v-dialog>
    </v-container>
  </v-container>
</template>

<script>
import BloodTable from '@/shared/components/BloodTable';

import { mapGetters } from 'vuex';

import { GET_MY_CENTER, GET_MY_CENTER_BLOOD } from '@/types/getters';
import { FETCH_MY_CENTER_BLOOD, UPDATE_MY_CENTER_BLOOD } from '@/types/actions';

export default {
  components: {
    'app-blood-table': BloodTable
  },
  async created () {
    await this.$store.dispatch(FETCH_MY_CENTER_BLOOD);
  },
  data () {
    return {
      dialog: false,
      selected: { resource: null },
      volumeErr: '',
      newVolume: 0
    };
  },
  methods: {
    resetFields (resource) {
      this.selected = { resource: resource || null };
      this.volumeErr = '';
      this.newVolume = 0;
    },
    edit (resource) {
      this.resetFields(resource);
      this.newVolume = resource.volume;
      this.dialog = true;
    },
    cancel () {
      this.resetFields();
      this.dialog = false;
    },
    accept () {
      if (!this.volumeErr && this.newVolume) {
        this.selected.resource.volume = this.newVolume;

        this.$store.dispatch(UPDATE_MY_CENTER_BLOOD, {
          bloodResources: this.bloodResources,
          resourceId: this.selected.resource.resourceId,
          volume: this.selected.resource.volume
        });

        this.dialog = false;
        this.resetFields();
      }
    },
    validateVolume (volume) {
      if (volume === '') {
        this.volumeErr = this.$t('volume-err-empty');
        return;
      }

      volume = Number(volume);
      if (Number.isNaN(volume)) {
        this.volumeErr = this.$t('volume-err-nan');
      } else if (!Number.isInteger(volume)) {
        this.volumeErr = this.$t('volume-err-not-int');
      } else if (volume < 0) {
        this.volumeErr = this.$t('volume-err-negative');
      } else if (volume > 20000) {
        this.volumeErr = this.$t('volume-err-too-large');
      } else {
        this.volumeErr = '';
      }
    },
    dialogTitle (blood) {
      return `${this.$t('editing-head')} ${blood.bloodType}${blood.rh}`;
    }
  },
  watch: {
    newVolume () {
      this.validateVolume(this.newVolume);
      if (!this.volumeErr) {
        this.newVolume = Number.parseInt(this.newVolume);
      }
    }
  },
  computed: {
    ...mapGetters({
      center: GET_MY_CENTER,
      bloodResources: GET_MY_CENTER_BLOOD
    })
  }
};
</script>

<i18n>
{
  "en": {
    "header": "Blood resources",
    "editing-head": "Editing value for group",
    "volume-err-too-large": "no more than 20000",
    "volume-err-nan": "not a number",
    "volume-err-not-int": "not an integer",
    "volume-err-negative": "can't be negative",
    "volume-err-empty": "can't be empty"
  },
  "pl": {
    "header": "Zasoby krwi",
    "editing-head": "Edytujesz wartość dla grupy",
    "volume-err-too-large": "nie więcej niż 20000",
    "volume-err-nan": "nie jest liczbą",
    "volume-err-not-int": "nie jest liczbą całkowitą",
    "volume-err-negative": "nie może być mniejsza od zera",
    "volume-err-empty": "nie może być pusta"
  }
}
</i18n>
