<template>
  <v-container style="padding: 0 24px; min-width: 300px; max-width: 600px">
    <h1 id="page-title" class="title red-highlight">{{ $t('header') }}</h1>
    <template v-for="(pair, ip) in logoPairs">
      <v-row :key="ip">
        <template v-for="(tile, it) in pair">
          <v-col cols="6" :key="it" max-height="256px">
            <v-hover>
              <template v-slot="{ hover }">
                <v-card :elevation="hover ? 16 : 4">
                  <a :href="tile.url">
                    <v-img :src="`img/logos/${tile.file}-256.png`" />
                  </a>
                </v-card>
              </template>
            </v-hover>
          </v-col>
        </template>
      </v-row>
    </template>
  </v-container>
</template>

<script>
export default {
  name: 'partners',
  data: () => ({
    logoPairs: [
      [
        { file: 'java', url: 'https://www.java.com' },
        { file: 'spring', url: 'https://www.spring.io' }
      ],
      [
        { file: 'vue', url: 'https://www.vuejs.org' },
        { file: 'vuetify', url: 'https://www.vuetifyjs.com' }
      ],
      [
        { file: 'python', url: 'https://www.python.org' },
        { file: 'postgres', url: 'https://www.postgresql.org' }
      ],
      [
        { file: 'gitlab', url: 'https://gitlab.com' }
      ]
    ]
  })
};
</script>

<i18n>
{
  "en": {
    "header": "Partners"
  },
  "pl": {
    "header": "Partnerzy"
  }
}
</i18n>
