<template>
  <v-app id="inspire">
    <v-navigation-drawer v-model="drawerLeft" left app>
      <v-list style="text-align: right">
        <v-list-item v-for="link in navigation.filter(l => !l.hidden)"
                     :key="link.name"
                     active-class="highlighted"
                     :class="link.path === $route.path ? 'highlighted' : ''"
                     route :to="{ path: link.path }">
          <v-list-item-action>
            <v-icon>{{ link.icon }}</v-icon>
          </v-list-item-action>
          <v-list-item-content style="margin-left: -20px">
            <v-list-item-title style="text-overflow: unset">
              {{ $t(`links.${link.name}`) }}
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>

    <v-app-bar color="red darken-2" dark app>
      <v-app-bar-nav-icon @click.stop="drawerLeft = !drawerLeft" />
      <v-toolbar-title>{{ $t('appNames.ekin') }}</v-toolbar-title>
      <v-spacer />
        <v-select class="control-switch lang-switch"
                  v-model="$i18n.locale"
                  :items="['en', 'pl']"
                  append-icon="mdi-translate"
                  hide-details solo dense>
        </v-select>
      </v-app-bar>

      <v-content>
        <v-container fluid>
          <transition name="fade" mode="out-in">
            <router-view></router-view>
          </transition>
        </v-container>
      </v-content>
      <v-footer color="grey darken-3" light inset app>
        <div style="display: flex; align-items: center; justify-content: center;">
          <span style="min-width: 125px" class="white--text subtitle-2">
            &copy; 2019 &ndash; 2020
          </span>
          <span style="height: 25px; overflow: auto" class="white--text subtitle-2">
            {{ $t('footer-info') }}
          </span>
        </div>
      </v-footer>
    </v-app>
</template>

<script>
import routes from '@/router/routes';

import {
  FETCH_BLOOD_GROUPS,
  FETCH_CENTERS,
  TOGGLED_DRAWER
} from '@/shared/types/actions';

export default {
  created () {
    this.$store.dispatch(FETCH_CENTERS);
    this.$store.dispatch(FETCH_BLOOD_GROUPS);
  },
  data: () => ({
    drawerLeft: false,
    navigation: routes.filter(route => route.component)
  }),
  watch: {
    drawerLeft () {
      this.$store.dispatch(TOGGLED_DRAWER, this.drawerLeft);
    }
  }
};
</script>

<style>
.v-content {
  background-color: #ebebeb;
}

.v-expansion-panel-header {
  line-height: 1.5em;
}

.v-expansion-panel-header--active {
  border-bottom: 1px solid #e0e0e0;
}

.red-highlight {
  color: white;
  opacity: 1;
  text-shadow:
    -0.06em -0.06em 0 #be2a2a,
    0.06em -0.06em 0 #be2a2a,
    -0.06em 0.06em 0 #be2a2a,
    0.06em 0.06em 0 #be2a2a;
}

/* vuetify !important override */
#page-title {
  font-size: 1.35rem !important;
  letter-spacing: .115em !important;
}

.title {
  text-align: center;
  margin: 12px 0 20px;
}

.bordered-headline {
  text-align: left;
  padding: 16px 24px;
  border-bottom: 1px solid #c0c0c0;
}

.v-list-item--active .v-list-item__action,
.v-list-item--active .v-list-item__content {
  color: red;
}

.v-icon {
  margin-top: unset !important;
}

.v-input.control-switch {
  flex: unset !important;
}

.control-switch .v-input__slot {
  background-color: #da5050 !important;
  margin: 0px 8px;
}

.lang-switch {
  width: 75px !important;
}

.fade-enter-active,
.fade-leave-active {
  transition-duration: 0.3s;
  transition-property: opacity;
  transition-timing-function: ease;
}

.fade-enter,
.fade-leave-active {
  opacity: 0
}
</style>
