<template>
  <v-app id="inspire">
    <v-navigation-drawer v-model="drawerLeft" left app>
      <v-list style="text-align: right">
        <v-list-item v-for="link in navigation.filter(l => !l.hidden)"
                     :key="link.name"
                     active-class="highlighted"
                     :class="enrichLink(link, $route.path)"
                     route :to="{ path: link.path }">
          <v-list-item-action>
            <v-icon>{{ link.icon }}</v-icon>
          </v-list-item-action>
          <v-list-item-content style="margin-left: -20px">
            <v-list-item-title style="text-overflow: unset">
              {{ $t(`links.${link.name}`) }}
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>

    <v-app-bar color="red darken-2" dark app>
      <v-app-bar-nav-icon @click.stop="drawerLeft = !drawerLeft" />
        <v-toolbar-title class="text-no-wrap">
          {{ $t('appNames.ekins') }}
        </v-toolbar-title>
        <v-spacer />
          <v-select v-if="controlItems" class="control-switch user-switch"
                    v-model="userControl"
                    :items="controlItems"
                    append-icon="mdi-account-circle"
                    hide-details solo dense>
            <template slot="selection" slot-scope="data">
              {{ displayControlValue(data.item.value).split('@')[0] }}
            </template>
            <template slot="item" slot-scope="data">
            <v-icon style="margin: 0 6px">{{ data.item.icon }}</v-icon>
            <span>{{ displayControlValue(data.item.value) }}</span>
            </template>
          </v-select>

          <v-select class="control-switch lang-switch"
                    v-model="$i18n.locale"
                    :items="['en', 'pl']"
                    append-icon="mdi-translate"
                    hide-details solo dense>
          </v-select>
      </v-app-bar>

      <v-content>
        <v-container fluid>
          <transition name="fade" mode="out-in">
            <router-view></router-view>
          </transition>
        </v-container>
      </v-content>
      <v-footer color="grey darken-3" light inset app>
        <div style="display: flex; align-items: center; justify-content: center;">
          <span style="min-width: 125px" class="white--text subtitle-2">
            &copy; 2019 &ndash; 2020
          </span>
          <span style="height: 25px; overflow: auto" class="white--text subtitle-2">
            {{ $t('footer-info') }}
          </span>
        </div>
      </v-footer>
    </v-app>
</template>

<script>
import { GUEST, LOG_IN, LOG_OUT } from '@/const';

import routes from '@/router/routes';

import {
  FETCH_BLOOD_GROUPS,
  FETCH_CENTERS,
  TOGGLED_DRAWER
} from '@/shared/types/actions';

import {
  FETCH_MY_CENTER,
  FETCH_MY_CENTER_BLOOD,
  LOGOUT_USER
} from '@/types/actions';

import { GET_USER } from '@/types/getters';

export default {
  async created () {
    await this.$store.dispatch(FETCH_CENTERS);
    await this.$store.dispatch(FETCH_BLOOD_GROUPS);
    await this.$store.dispatch(FETCH_MY_CENTER);
    await this.$store.dispatch(FETCH_MY_CENTER_BLOOD);
  },
  mounted () {
    const user = this.loggedUser.login;
    this.userControl = user;
  },
  data: () => ({
    drawerLeft: false,
    navigation: routes.filter(route => route.component),
    userControl: GUEST
  }),
  methods: {
    displayControlValue (value) {
      if ([GUEST, LOG_IN, LOG_OUT].includes(value)) {
        return this.$t(value);
      } else {
        return value;
      }
    },
    enrichLink (link, currentPath) {
      const { path, disabled } = link;
      let classes = [];

      if (path === currentPath) {
        classes.push('highlighted');
      }

      if (!this.loggedUser.login ||
        (disabled && this.loggedUser.login === GUEST)) {
        classes.push('disabled-link');
      }

      return classes.join(' ');
    }
  },
  computed: {
    loggedUser: {
      get () {
        return this.$store.getters[GET_USER];
      }
    },
    controlItems: {
      get () {
        const action = (this.loggedUser.login === GUEST)
          ? { value: LOG_IN, icon: 'mdi-login' }
          : { value: LOG_OUT, icon: 'mdi-logout' };

        return [
          { value: this.loggedUser.login, icon: 'mdi-account' },
          action
        ];
      }
    }
  },
  watch: {
    drawerLeft () {
      this.$store.dispatch(TOGGLED_DRAWER, this.drawerLeft);
    },
    userControl (controlValue) {
      if (controlValue === LOG_OUT) {
        setTimeout(() => { this.userControl = GUEST; }, 0);
        this.$store.dispatch(LOGOUT_USER);
        // redirect somewhere
        this.$router.push({ name: 'centers' });
      } else if (controlValue === LOG_IN) {
        setTimeout(() => { this.userControl = GUEST; }, 0);
        this.$router.push({ name: 'login' });
      }
    },
    loggedUser (user) {
      this.userControl = user.login;
    }
  }
};
</script>

<style>
.v-content {
  background-color: #ebebeb;
}

.v-expansion-panel-header {
  line-height: 1.5em;
}

.v-expansion-panel-header--active {
  border-bottom: 1px solid #e0e0e0;
}

.red-highlight {
  color: white;
  opacity: 1;
  text-shadow:
    -0.06em -0.06em 0 #be2a2a,
    0.06em -0.06em 0 #be2a2a,
    -0.06em 0.06em 0 #be2a2a,
    0.06em 0.06em 0 #be2a2a;
}

.v-toolbar__title {
  min-width: 150px;
}

/* vuetify !important override */
#page-title {
  font-size: 1.35rem !important;
  letter-spacing: .115em !important;
}

.title {
  text-align: center;
  margin: 12px 0 20px;
}

.v-list-item--active .v-list-item__action,
.v-list-item--active .v-list-item__content {
  color: red;
}

.v-icon {
  margin-top: unset !important;
}

.v-input.control-switch {
  flex: unset !important;
}

.control-switch .v-input__slot {
  background-color: #da5050 !important;
  margin: 0px 8px;
}

.lang-switch {
  width: 75px !important;
}

.user-switch {
  min-width: 150px !important;
  max-width: 175px !important;
}

.user-switch .v-input__slot {
  margin: unset !important;
}

@media only screen and (max-width: 600px) {
  .user-switch {
    min-width: unset !important;
  }

  .user-switch .v-icon {
    margin-right: 4px;
  }

  .user-switch .v-select__selections {
    display: none;
  }
}

.fade-enter-active,
.fade-leave-active {
  transition-duration: 0.3s;
  transition-property: opacity;
  transition-timing-function: ease;
}

.fade-enter,
.fade-leave-active {
  opacity: 0
}

.disabled-link {
  opacity: 0.5;
  pointer-events: none;
  cursor: default;
}
</style>
