<template>
  <v-simple-table :height="height" fixed-header v-if="bloodResources.length > 0">
    <template>
      <thead>
      <tr>
        <th class="text-left col-5">{{ $t('group') }}</th>
        <th class="text-left col-8">{{ $t('amount') }}</th>
      </tr>
      </thead>
      <tbody>
      <tr v-ripple v-for="resource in this.bloodResources"
          :key="resource.resourceID" @click="action(resource) || null">
        <td>{{ getBloodType(resource) }}</td>
        <td>
          {{ $t('levels.' + getSeverity(resource.volume)) }}
          <v-progress-linear
            :value="resource.volume/fullLevel*100"
            height="10"
            color="#F44336">
          </v-progress-linear>
        </td>
      </tr>
      </tbody>
    </template>
  </v-simple-table>
</template>

<script>
import { bloodResourcesMixin } from '@/shared/mixins/bloodResourcesMixin';

export default {
  props: ['height', 'bloodResources', 'action'],
  mixins: [bloodResourcesMixin]
};
</script>

<i18n>
{
  "en": {
    "group": "Blood group",
    "amount": "Amount",
    "levels": {
      "critical": "Critical",
      "shortage": "Low",
      "medium": "Medium",
      "plenty": "Plenty"
    }
  },
  "pl": {
    "group": "Grupa krwi",
    "amount": "Poziom",
    "levels": {
      "critical": "Krytyczny",
      "shortage": "Niski",
      "medium": "Średni",
      "plenty": "Dużo"
    }
  }
}
</i18n>
