<template>
  <v-dialog v-model="dialog" scrollable max-width="400">
    <template v-slot:activator="{ on }">
      <v-btn dark v-on="on" @click="getBloodResources"
             style="width: 100%; margin: 8px 0" class="grey darken-2">
        {{ $t('title') }}
      </v-btn>
    </template>

    <v-card v-slot:default>
      <v-card-title>{{ $t('title') }}</v-card-title>
      <app-blood-table :height="250" :bloodResources="bloodResources"></app-blood-table>
    </v-card>
  </v-dialog>
</template>

<script>
import BloodTable from './BloodTable';

import { FETCH_CENTER_BLOOD_RESOURCES } from '@/shared/types/actions';

export default {
  props: ['centerId'],
  components: {
    'app-blood-table': BloodTable
  },
  data () {
    return {
      dialog: false,
      bloodResources: []
    };
  },
  methods: {
    async getBloodResources () {
      this.bloodResources = await this.$store.dispatch(FETCH_CENTER_BLOOD_RESOURCES, this.centerId);
    }
  }
};
</script>

<i18n>
{
  "en": {
    "title": "Blood resources"
  },
  "pl": {
    "title": "Zasoby krwi"
  }
}
</i18n>
