<template>
  <v-container style="padding: 0 24px; min-width: 300px; max-width: 600px">
    <h1 class="title red-highlight">{{ $t('header') }}</h1>
    <v-row justify="center">
      <v-expansion-panels tile>
        <v-expansion-panel v-for="center in centers" :key="center.centerId">
          <app-center :center="center"></app-center>
        </v-expansion-panel>
      </v-expansion-panels>
    </v-row>
  </v-container>
</template>

<script>

import Center from './Center';
import { GET_CENTERS } from '@/shared/types/getters';

export default {
  components: {
    'app-center': Center
  },
  computed: {
    centers () {
      return this.$store.getters[GET_CENTERS];
    }
  }
};
</script>

<i18n>
{
  "en": {
    "header": "Centers",
    "mail": "mail",
    "phone": "phone",
    "website": "website"
  },
  "pl": {
    "header": "Centra krwi",
    "mail": "mail",
    "phone": "telefon",
    "website": "strona"
  }
}
</i18n>
