<template>
  <div>
    <v-expansion-panel-header>
      {{ header }}
    </v-expansion-panel-header>
    <v-expansion-panel-content style="padding: 16px 4px 0 4px">
      <div class="subtitle-1">{{ this.center.name }}</div>
      <div class="subtitle-2" style="margin: 12px 0">
        {{ address }}
      </div>
      <p class="caption" style="margin: 12px 0">
        {{ $t('mail') }}: {{ this.center.email }}<br />
        {{ $t('phone') }}: {{ this.center.phoneNumber }}<br />
        {{ $t('website') }}: {{ this.center.webSite }}
      </p>
      <app-blood-resource :centerId="this.center.centerId"></app-blood-resource>
    </v-expansion-panel-content>
  </div>
</template>

<script>
import { makeAbbrev } from '@/shared/utils/center';

import BloodResource from './BloodResource';

export default {
  props: ['center'],
  components: {
    'app-blood-resource': BloodResource
  },
  computed: {
    header () {
      return `${makeAbbrev(this.center.name)}`;
    },
    address () {
      return `${this.center.address.street}, ${this.center.address.postalCode} ${this.center.address.city}`;
    }
  }
};
</script>

<i18n>
{
  "en": {
    "header": "Centers",
    "mail": "mail",
    "phone": "phone",
    "website": "website"
  },
  "pl": {
    "header": "Centra krwi",
    "mail": "mail",
    "phone": "telefon",
    "website": "strona"
  }
}
</i18n>
