<template>
  <v-card class="map-card"
          :style="`height: ${mapHeight}`">
    <l-map v-if="showMap"
           :zoom="zoom"
           :center="center"
           :bounds="centersBounds || bounds"
           :options="mapOptions"
           style="height: 100%"
           @update:center="centerUpdate"
           @update:zoom="zoomUpdate"
           @update:bounds="boundsUpdate">
      <l-tile-layer :url="url" :attribution="attribution"/>
      <l-circle-marker v-if="userLocation"
        :lat-lng="[userLocation.lat, userLocation.lon]"
        :radius=5
        color="red"/>
      <template v-for="(marker, mi) in markers">
        <l-marker v-if="marker.coord"
                  :key="mi" :lat-lng="marker.coord">
          <l-icon :icon-url="marker.iconUrl"></l-icon>
          <l-popup>
            <slot :content="marker.content"></slot>
          </l-popup>
        </l-marker>
      </template>
    </l-map>
  </v-card>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';
import { TOGGLED_DRAWER } from '@/shared/types/actions';
import { GET_DRAWER } from '@/shared/types/getters';
import { latLng } from 'leaflet';
import { LMap, LTileLayer, LMarker, LPopup, LIcon, LCircleMarker } from 'vue2-leaflet';

const POLAND_CENTER = latLng(52.2556916, 19.1526014);

export default {
  name: 'map-wrapper',
  props: ['markers', 'userLocation', 'centersBounds'],
  data () {
    return {
      bounds: null,
      zoom: 6,
      mapHeight: '70vh',
      center: POLAND_CENTER,
      url: 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
      attribution: ('&copy; ' +
        '<a href="http://osm.org/copyright">' +
        'OpenStreetMap</a> contributors'),
      withPopup: latLng(52.237049, 21.017532),
      currentZoom: 5,
      currentCenter: POLAND_CENTER,
      mapOptions: {
        zoomSnap: 0.1
      },
      showMap: true
    };
  },
  computed: {
    drawer: {
      get () {
        return this.isDrawerActive();
      }
    }
  },
  watch: {
    drawer () {
      this.showMap = !this.showMap;
    }
  },
  components: {
    LMap,
    LTileLayer,
    LMarker,
    LPopup,
    LIcon,
    LCircleMarker
  },
  methods: {
    boundsUpdate (bounds) {
      this.centersBounds = null;
      this.bounds = bounds;
    },
    zoomUpdate (zoom) {
      this.currentZoom = zoom;
    },
    centerUpdate (center) {
      this.currentCenter = center;
    },
    showLongText () {
      this.showParagraph = !this.showParagraph;
    },
    ...mapActions({
      toggledDrawer: TOGGLED_DRAWER
    }),
    ...mapGetters({
      isDrawerActive: GET_DRAWER
    })
  }
};
</script>

<style>
.map-card {
  z-index:1;
  background-color: #cecece !important;
  width: 100%;
}

.leaflet-container {
  box-shadow:
    0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14),
    0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}
</style>

<i18n>
{
  "en": {
  },
  "pl": {
  }
}
</i18n>
