<template>
  <div class="text-center">
    <v-dialog v-model="dialog" max-width="700">
      <v-card class="mx-auto">
        <v-card-title class="title bordered-headline" style="word-break: normal">
          {{ alert.center.name }}
        </v-card-title>
        <v-spacer style="margin: 20px" />
        <v-card-text>
          <p class="subtitle-1">
            {{ date }},<span style="margin-left: 0.4em">{{ time }}</span>
          </p>
          <div class="text--primary body-2">
            {{ alert.message }}
          </div>
          <v-spacer style="margin: 16px"></v-spacer>
          <div class="subtitle-2 red--text">
            {{ bloodType }}
          </div>
        </v-card-text>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import { GET_ALERT_DETAIL } from '@/shared/types/getters';
import { FETCH_ALERT } from '@/shared/types/actions';
import { dateParts } from '@/shared/utils/time';

export default {
  created () {
    this.$store.dispatch(FETCH_ALERT, this.$route.params.id);
  },
  watch: {
    dialog () {
      this.goToAlerts();
    }
  },
  data: () => ({
    dialog: true
  }),
  computed: {
    alert: function () {
      return this.$store.getters[GET_ALERT_DETAIL];
    },
    bloodType: function () {
      if (this.alert.blood) {
        const { bloodType, rh } = this.alert.blood;
        return [bloodType, rh].join('');
      } else {
        return null;
      }
    },
    date: function () {
      let { day, month, year } = dateParts(this.alert.date);
      month = this.$t(`months.${month}`);

      return [day, month, year].join(' ');
    },
    time: function () {
      const { time } = dateParts(this.alert.date);
      return time;
    }
  },
  methods: {
    goToAlerts () {
      this.$router.push('/alerts');
    }
  }
};
</script>
