<template>
  <v-container style="padding: 0 24px; min-width: 300px; max-width: 600px">
    <h1 id="page-title" class="title red-highlight">{{ $t('header') }}</h1>
    <v-card>
      <v-tabs
        v-model="tab"
        fixed-tabs
        hide-slider>
        <v-tab
          v-for="type in alertTypes"
          :key="type.tab">
          {{ $t(type.tab) }}
        </v-tab>
      </v-tabs>
      <v-tabs-items v-model="tab">
        <v-tab-item
          v-for="type in alertTypes"
          :key="type.tab">
          <v-card class="mx-auto" tile>
            <template v-if="type.alerts === alertTypesEnum.PREFERRED_ALERTS && preferredAlerts.length > 0">
              <v-list>
                <v-list-item-group class="preferred-alerts">
                  <app-alert v-for="alert in preferredAlerts" :key="alert.alertId" :alert="alert"></app-alert>
                </v-list-item-group>
              </v-list>
              <v-container>
                <v-row justify="space-around">
                  <v-btn small :disabled="type.page === 0" @click="loadPrevious(type)">
                    {{ $t('previous') }}
                  </v-btn>
                  <p>{{ $t('page') }} {{ type.page + 1 }}</p>
                  <v-btn small :disabled="isNextAlert(type)" @click="loadNext(type)">
                    {{ $t('next') }}
                  </v-btn>
                </v-row>
              </v-container>
            </template>
            <template v-else-if="type.alerts === alertTypesEnum.PROXIMAL_ALERTS && proximalAlerts.length > 0">
              <v-list>
                <v-list-item-group class="proximal-alerts">
                  <app-alert v-for="alert in proximalAlerts" :key="alert.alertId" :alert="alert"></app-alert>
                </v-list-item-group>
              </v-list>
              <v-container>
                <v-row justify="space-around">
                  <v-btn small :disabled="type.page === 0" @click="loadPrevious(type)">
                    {{ $t('previous') }}
                  </v-btn>
                  <p>{{ $t('page') }} {{ type.page + 1 }}</p>
                  <v-btn small :disabled="isNextAlert(type)" @click="loadNext(type)">
                    {{ $t('next') }}
                  </v-btn>
                </v-row>
              </v-container>
            </template>
            <template v-else>
              <v-card>
                <v-card-text>
                  {{ $t('no-alerts-message') }}
                </v-card-text>
              </v-card>
            </template>
            <template v-if="type.alerts === alertTypesEnum.PROXIMAL_ALERTS">
              <template v-if="locationDenied">
                <v-card>
                  <v-card-text>
                    {{ $t('location-denied') }}
                  </v-card-text>
                </v-card>
              </template>
            </template>
          </v-card>
        </v-tab-item>
      </v-tabs-items>
    </v-card>
    <router-view></router-view>
  </v-container>
</template>

<script>
import { FETCH_ALERTS_PREFERRED, FETCH_ALERTS_PROXIMAL } from '@/shared/types/actions';
import { GET_ALERTS, GET_PROXIMAL_ALERTS, GET_PREFERENCES, GET_CENTERS } from '@/shared/types/getters';
import { GET_SELECTED_BLOOD_TYPES, GET_SELECTED_CENTERS, GET_RADIUS } from '@/types/getters';
import { getCurrentLocation, calculateDistance, locationToNumber } from '@/shared/utils/location';
import { alertTypesEnum } from '@/enums/alerts';
import Alert from './Alert';
import { mapGetters } from 'vuex';

export default {
  async created () {
    this.getPreferred(this.alertTypes[0].page);
    await this.getProximal(this.alertTypes[1].page);
    this.pollData();
  },
  data () {
    return {
      alertTypesEnum,
      locationDenied: false,
      polling: null,
      tab: null,
      alertTypes: [
        { tab: 'alert-tab-default', alerts: alertTypesEnum.PREFERRED_ALERTS, page: 0 },
        { tab: 'alert-tab-vicinity', alerts: alertTypesEnum.PROXIMAL_ALERTS, page: 0 }
      ]
    };
  },
  methods: {
    loadNext ({ alerts, page }) {
      if (alerts === alertTypesEnum.PREFERRED_ALERTS) {
        this.getPreferred(++page);
        this.alertTypes[0].page += 1;
      }
      if (alerts === alertTypesEnum.PROXIMAL_ALERTS) {
        this.getProximal(++page);
        this.alertTypes[1].page += 1;
      }
    },
    loadPrevious ({ alerts, page }) {
      if (alerts === alertTypesEnum.PREFERRED_ALERTS && page >= 1) {
        this.getPreferred(--page);
        this.alertTypes[0].page -= 1;
      }
      if (alerts === alertTypesEnum.PROXIMAL_ALERTS && page >= 1) {
        this.getProximal(--page);
        this.alertTypes[1].page -= 1;
      }
    },
    getPreferred (page) {
      this.$store.dispatch(FETCH_ALERTS_PREFERRED, {
        query: this.getPreferredAlertsQuery,
        page: page
      });
    },
    async getProximal (page) {
      if (!this.preferences.neighbourAlerts) {
        this.locationDenied = true;
        return;
      }

      await this.$store.dispatch(FETCH_ALERTS_PROXIMAL, {
        query: await this.getProximalAlertsQuery(),
        page: page
      });
    },
    pollData () {
      this.polling = setInterval(async () => {
        this.getPreferred(this.alertTypes[0].page);
        await this.getProximal(this.alertTypes[1].page);
      }, 10 * 1000);
    },
    createQuery (centers, groups) {
      const query = new URLSearchParams({
        groups: groups.toString(),
        centers: centers.toString()
      });

      return `?${query.toString()}`;
    },
    async getProximalCenters () {
      const positionFromApi = await getCurrentLocation();
      const lat = positionFromApi.coords.latitude;
      const lon = positionFromApi.coords.longitude;

      return this.calculateProximal({ lat, lon });
    },
    calculateProximal (userLocation) {
      return this.centers
        .filter(center => calculateDistance(userLocation, locationToNumber(center.address)) < this.radius)
        .map(center => center.name);
    },
    async getProximalAlertsQuery () {
      const proximalCenters = await this.getProximalCenters();
      return this.createQuery(proximalCenters, this.selectedGroups);
    },
    isNextAlert ({ alerts }) {
      if (alerts === alertTypesEnum.PROXIMAL_ALERTS) {
        return this.proximalAlerts.length % 10 !== 0 || this.proximalAlerts.length === 0;
      }

      if (alerts === alertTypesEnum.PREFERRED_ALERTS) {
        return this.preferredAlerts.length % 10 !== 0 || this.preferredAlerts.length === 0;
      }
    },
    isPreviousAlert ({ page }) {
      if (page === 0) {
        return false;
      }
    }
  },
  computed: {
    getPreferredAlertsQuery () {
      let queryPath = '';

      if (this.selectedCenters && this.selectedCenters.length > 0 && this.selectedGroups && this.selectedGroups.length > 0) {
        queryPath = this.createQuery(this.selectedCenters, this.selectedGroups);
      }

      return queryPath;
    },
    ...mapGetters({
      centers: GET_CENTERS,
      preferences: GET_PREFERENCES,
      preferredAlerts: GET_ALERTS,
      proximalAlerts: GET_PROXIMAL_ALERTS,
      selectedGroups: GET_SELECTED_BLOOD_TYPES,
      selectedCenters: GET_SELECTED_CENTERS,
      radius: GET_RADIUS
    })
  },
  beforeDestroy () {
    clearInterval(this.polling);
  },
  components: {
    'app-alert': Alert
  }
};
</script>

<i18n>
{
  "en": {
    "alert-tab-default": "Alerts",
    "alert-tab-vicinity": "In vicinity",
    "header": "Recent alerts",
    "details-header": "Alert details",
    "previous": "Previous",
    "next": "Next",
    "page": "Page",
    "preferences-link": "preferences",
    "no-alerts-message": "There are no alerts.",
    "location-denied": "Location is denied, check settings."
  },
  "pl": {
    "alert-tab-default": "Alerty",
    "alert-tab-vicinity": "W pobliżu",
    "header": "Ostatnie alerty",
    "details-header": "Szczegóły alertu",
    "previous": "Poprzednie",
    "next": "Następne",
    "page": "Strona",
    "preferences-link": "preferencjach",
    "no-alerts-message": "Nie ma alertów.",
    "location-denied": "Brak zezwolenia na gps, sprawdź ustawienia."
  }
}
</i18n>
