<template>
  <div>
    <v-list-item three-line :to="'/alerts/' + this.alert.alertId">
      <v-list-item-content>
        <v-list-item-title class="alert-title">{{ centerOutput }}</v-list-item-title>
        <v-spacer style="margin: 2px" />
        <v-list-item-subtitle class="subtitle-2 red--text">{{ bloodType }}</v-list-item-subtitle>
        <v-spacer style="margin: 4px" />
        <v-list-item-subtitle class="time-ago">
          {{ calculateTime }} {{ $t('time.ago') }}
        </v-list-item-subtitle>
      </v-list-item-content>
    </v-list-item>
    <v-divider></v-divider>
  </div>
</template>

<script>
import { calculateDelta } from '@/shared/utils/time';
import { makeAbbrev } from '@/shared/utils/center';

export default {
  props: ['alert'],
  computed: {
    centerOutput: function () {
      const center = this.alert.center;
      return `${makeAbbrev(center.name).split(' ')[0]}, ${center.address.city}`;
    },
    bloodType: function () {
      const { bloodType, rh } = this.alert.blood;
      return [bloodType, rh].join('');
    },
    calculateTime: function () {
      const delta = calculateDelta(this.alert.date);
      let time = '';

      if (delta.days > 0) {
        const plurality = delta.days === 1 ? this.$t('time.day') : this.$t('time.days');
        time = `${delta.days} ${plurality}`;
      } else if (delta.hours > 0) {
        time = `${delta.hours} ${this.$t('time.hours')}`;
      } else if (delta.minutes > 0) {
        time = `${delta.minutes} ${this.$t('time.minutes')}`;
      } else if (delta.seconds > 0) {
        time = `${delta.seconds} ${this.$t('time.seconds')}`;
      }

      return time;
    }
  }
};
</script>
