<template>
  <section>
    <h1 class="subtitle-2">{{ center.name }}</h1>
    <div>
      <p class="ma-0 center-street">{{ center.address.street}}</p>
      <p class="ma-0 center-address">{{ center.address.city }}, {{ center.address.postalCode }}</p>
      <p class="mb-0 center-website">www: <a :href="center.webSite" target="_blank">{{ center.webSite }}</a></p>
      <p class="ma-0 center-phone">Tel: <a :href="'tel:' + center.phoneNumber">{{ center.phoneNumber }}</a></p>
    </div>
    <v-row>
      <v-col>
        <blood-resource :centerId="center.centerId"></blood-resource>
      </v-col>
      <v-col>
        <v-btn style="width: 100%; margin: 8px 0" @click="navigateTo()">
          {{ $t('start-navigation')}}
        </v-btn>
      </v-col>
    </v-row>
  </section>
</template>

<script>
import BloodResource from '@/shared/components/BloodResource';
import { getCurrentLocation } from '@/shared/utils/location';

export default {
  props: ['center'],
  components: {
    'blood-resource': BloodResource
  },
  methods: {
    async navigateTo () {
      getCurrentLocation().then(location => {
        const url = this.getNavigationUrl(location.coords);
        window.open(url, '_blank');
      }, () => {
        alert(this.$t('gps-blocked-browser'));
      });
    },
    getNavigationUrl ({ latitude, longitude }) {
      const urlPrefix = 'https://www.google.com/maps/dir/?api=1&origin=';

      return `${urlPrefix}${latitude},${longitude}&destination=${this.center.name}`;
    }
  }
};
</script>

<style scoped>

</style>

<i18n>
{
  "en": {
    "start-navigation": "Navigate",
    "gps-blocked-browser": "You must enable gps in browser settings."
  },
  "pl": {
    "start-navigation": "Nawiguj",
    "gps-blocked-browser": "Musisz zezwolić na dostęp do gps w przeglądarce."
  }
}
</i18n>
