<template>
  <v-container style="padding: 0 24px; min-width: 300px; max-width: 600px">
    <h1 id="page-title" class="title red-highlight">{{ $t('header') }}</h1>
    <v-card>
      <v-card-title class="subtitle-1">{{ $t('requirements.label') }}</v-card-title>
      <v-simple-table>
        <template v-slot:default>
          <tbody>
          <tr v-for="(item, i) in $t('requirements.list')" :key="i">
            <td><b>{{ item.split("|")[0] }}</b></td>
            <td>{{ item.split("|")[1] }}</td>
          </tr>
          </tbody>
        </template>
      </v-simple-table>
    </v-card>
    <v-spacer style="margin-top: 12px"></v-spacer>
    <v-card>
      <v-card-title class="subtitle-1">{{ $t('exclusions.label') }}</v-card-title>
      <v-simple-table fixed-header height="300">
        <template v-slot:default>
          <thead>
          <tr>
            <th class="text-left">{{ $t('exclusions.type')}}</th>
            <th class="text-left">{{ $t('exclusions.diagnosis')}}</th>
          </tr>
          </thead>
          <tbody>
          <tr v-for="(item, i) in $t('exclusions.list')" :key="i">
            <td><b>{{ item.split("|")[0] }}</b></td>
            <td>{{ item.split("|")[1] }}</td>
          </tr>
          </tbody>
        </template>
      </v-simple-table>
    </v-card>
  </v-container>
</template>

<style scoped>
  .v-data-table td,
  .v-data-table th {
    padding: 8px 16px;
  }
</style>

<i18n>
{
  "en": {
    "header": "Who can donate blood?",
    "requirements": {
      "label": "Donation requirements",
      "list": {
        "0": "Age|18-65",
        "1": "Weight|at least 50 kg",
        "2": "Blood pressure|diastolic pressure: up to 100 mmHg, Systolic pressure: up to 180 mmHg",
        "3": "Pulse|regular, with a frequency of 50-100 beats per minute"
      }
    },
    "exclusions": {
      "label": "Exclusions",
      "type": "Field",
      "diagnosis": "Diagnosis",
      "list": {
        "0": "Cardiovascular diseases|active or past serious cardiovascular disease, in addition to congenital malformations completely cured",
        "1": "Nervous system diseases|serious active, chronic or recurrent disease; history of serious central nervous system disease",
        "2": "Tendency to pathological bleeding|a history of coagulation disorders",
        "3": "Recurrent fainting or seizures|except in childhood seizures or when no recurrent convulsions are observed for at least 3 years after stopping treatment",
        "4": "Gastrointestinal diseases|serious active, chronic or recurrent disease",
        "5": "Respiratory diseases|serious active, chronic or recurrent disease",
        "6": "Urogenital and kidney diseases|active, chronic or recurrent disease",
        "7": "Immune system diseases|serious active, chronic or recurrent disease",
        "8": "Metabolic and endocrine diseases|serious active disease, chronic or recurrent",
        "9": "Diseases of the blood and hematopoietic system|a serious active, chronic or recurrent disease",
        "10": "Skin diseases|a serious active, chronic or recurrent disease",
        "11": "Systemic diseases|a serious active, chronic or recurrent disease",
        "12": "Diabetes|candidates for blood donors or blood donors with diagnosed diabetes",
        "13": "Cancer|a malignant tumor",
        "14": "Infectious diseases|hepatitis B virus infection, hepatitis C virus infection, a history of hepatitis viral infection, jaundice of unclear etiology, HIV, HTLV, babesiosis, kala-azar (visceral leishmaniasis), American trypanosomosis (fever) Chagas), actinomycosis, tularemia, Q fever",
        "15": "Spongiform degeneration of the brain (TSE)|e.g. Creutzfeldt-Jakob disease, variant Creutzfeldt-Jakob disease",
        "16": "Syphilis|each case",
        "17": "Medicinal products for injection|any use of injectable medicinal products that have not been prescribed by a doctor",
        "18": "Mental and behavioral disorders|Mental and behavioral disorders due to the use of psychoactive substances",
        "19": "Transplantation|Xenograft recipients",
        "20": "Anaphylactic reaction|each case"
      }
    }
  },
  "pl": {
    "header": "Kto może oddać krew?",
    "requirements": {
      "label": "Warunki bycia dawcą",
      "list": {
        "0": "Wiek|18-65 lat",
        "1": "Waga|Większa lub równa 50 kg",
        "2": "Ciśnienie|Skurczowe: do 100 mm Hg, rozkurczowe: do 180 mm Hg",
        "3": "Tętno|Miarowe, o częstości od 50 do 100 uderzeń na minutę"
      }
    },
    "exclusions": {
      "label": "Wykluczenia",
      "type": "Obszar",
      "diagnosis": "Rozpozanie",
      "list": {
        "0": "Choroby układu krążenia|aktywna lub przebyta poważna choroba układu krążenia, oprócz wad wrodzonych całkowicie wyleczonych",
        "1": "Choroby układu nerwowego|poważna choroba aktywna, przewlekła lub nawracająca; przebyta poważna choroba ośrodkowego układu nerwowego",
        "2": "Skłonność do patologicznych krwawień|zaburzenia krzepnięcia w wywiadzie",
        "3": "Nawracające omdlenia albo napady drgawkowe|poza drgawkami wieku dziecięcego lub sytuacją, w której co najmniej przez 3 lata po zakończeniu leczenia nie obserwuje się nawracających drgawek",
        "4": "Choroby układu pokarmowego|poważna choroba aktywna, przewlekła lub nawracająca",
        "5": "Choroby układu oddechowego|poważna choroba aktywna, przewlekła lub nawracająca",
        "6": "Choroby układu moczowo-płciowego i nerek|choroba aktywna, przewlekła lub nawracająca",
        "7": "Choroby układu immunologicznego|poważna choroba aktywna, przewlekła lub nawracająca",
        "8": "Choroby metaboliczne i choroby układu endokrynnego|poważna choroba aktywna, przewlekła lub nawracająca",
        "9": "Choroby krwi i układu krwiotwórczego|poważna choroba aktywna, przewlekła lub nawracająca",
        "10": "Choroby skóry|poważna choroba aktywna, przewlekła lub nawracająca",
        "11": "Choroby układowe|poważna choroba aktywna, przewlekła lub nawracająca",
        "12": "Cukrzyca|kandydaci na dawców krwi lub dawcy krwi z rozpoznaną cukrzycą",
        "13": "Choroby nowotworowe|nowotwór złośliwy",
        "14": "Choroby zakaźne|zakażenie wirusem zapalenia wątroby typu B, zakażenie wirusem zapalenia wątroby typu C, wirusowe zapalenie wątroby o nieustalonym rodzaju wirusa w wywiadzie, żółtaczka o niejasnej etiologii, HIV, HTLV, babeszjoza, kala-azar (leiszmanioza trzewna), trypanosomoza amerykańska (gorączka Chagasa), promienica, tularemia, gorączka Q",
        "15": "Gąbczaste zwyrodnienie mózgu (TSE)|np. choroba Creutzfeldta-Jakoba, wariant choroby Creutzfeldta-Jakoba",
        "16": "Kiła|każdy przypadek przebycia",
        "17": "Produkty lecznicze stosowane drogą iniekcji|każdy przypadek stosowania produktów leczniczych w postaci zastrzyków, które nie zostały przepisane przez lekarza",
        "18": "Zaburzenia psychicznie i zachowań|zaburzenia psychiczne i zaburzenia zachowania spowodowane używaniem substancji psychoaktywnych",
        "19": "Transplantacje|Biorcy ksenoprzeszczepów",
        "20": "Reakcje anafilaktyczne|każdy przypadek przebycia"
      }
    }
  }
}
</i18n>
