<template>
  <v-container style="padding: 0; min-width: 300px">
    <v-dialog style="z-index: 2" v-model="blockedGpsDialog" max-width="400">
      <v-card class="mx-auto">
        <template>
          <v-card-title style="justify-content: center">
            {{ $t('gps-blocked')}}
          </v-card-title>
          <v-card-text>
            {{ $t('gps-blocked-details') }}
            <v-col>
              <v-text-field dense style="padding: 12px 48px 0"
                            v-on:keyup.enter="findNearestByAddress()"
                            v-model="address">
              </v-text-field>
            </v-col>

            <v-card-actions style="padding: unset">
              <v-spacer></v-spacer>
              <v-btn color="red" text @click="blockedGpsDialog = false">Cancel</v-btn>
              <v-btn color="green" text @click="findNearestByAddress()">Ok</v-btn>
            </v-card-actions>
          </v-card-text>
        </template>
      </v-card>
    </v-dialog>
    <h1 id="page-title" class="title red-highlight">{{ $t('header') }}</h1>
    <v-card v-if="this.nearestCenters.length > 0"
            class="mx-auto"
            style="opacity: 0.8; position:absolute; top: 100px; right: 15%; z-index:2;"
            width="190">
      <v-toolbar dense dark color="red">
        <v-toolbar-title class="caption">{{ $t('nearest-centers') }}</v-toolbar-title>
        <v-btn icon @click="nearestCenters = []">
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-toolbar>
      <v-list two-line disabled dense>
        <v-list-item dense v-for="(nearestCenter, i) in nearestCenters" :key="i">
          <v-list-item-content>
            <v-list-item-title>{{ abbrevateName(nearestCenter.name) }}</v-list-item-title>
            <v-list-item-subtitle>{{ $t('distance') }}: {{ nearestCenter.distance.toFixed(2) }} km</v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-card>
    <v-container>
      <v-btn @click="findNearest()" style="z-index:2; margin-top: 50px; margin-left: 10px;" absolute left top dark fab color="red">
        <v-icon>mdi-crosshairs-gps</v-icon>
      </v-btn>
      <map-wrapper :markers="markers" :userLocation="this.userLocation" :centersBounds="this.centersBounds">
        <template v-slot:default="slotProps">
          <center-popup :center="slotProps.content"></center-popup>
        </template>
      </map-wrapper>
    </v-container>
  </v-container>
</template>

<script>
import { makeAbbrev } from '@/shared/utils/center';
import MapWrapper from '@/shared/components/MapWrapper';
import CenterPopup from '@/components/CenterPopup';
import { bloodResources } from '@/shared/enums/bloodResources';
import { mapGetters } from 'vuex';
import { GET_CENTERS, GET_BLOOD_RESOURCES } from '@/shared/types/getters';
import { FETCH_BLOOD_RESOURCES } from '@/shared/types/actions';
import { featureGroup, latLng, marker } from 'leaflet';
import { getCurrentLocation, calculateDistance, locationToNumber } from '@/shared/utils/location';

export default {
  name: 'neighbourhood',
  components: {
    'map-wrapper': MapWrapper,
    'center-popup': CenterPopup
  },
  created () {
    this.$store.dispatch(FETCH_BLOOD_RESOURCES);
  },
  data () {
    return {
      blockedGpsDialog: false,
      address: '',
      centersBounds: null,
      userLocation: null,
      nearestCenter: null,
      nearestCenters: [],
      centerResources: []
    };
  },
  computed: {
    markers () {
      return this.centers.map(center => {
        return {
          content: center,
          coord: latLng(center.address.latitude, center.address.longitude),
          iconUrl: this.getIconUrl(center.centerId)
        };
      });
    },
    ...mapGetters({
      centers: GET_CENTERS,
      bloodResources: GET_BLOOD_RESOURCES
    })
  },
  methods: {
    abbrevateName (name) {
      return makeAbbrev(name);
    },
    setBounds () {
      const closestCenters = this.nearestCenters.map(center => marker([center.coords.lat, center.coords.lng]));
      // eslint-disable-next-line new-cap
      this.centersBounds = new featureGroup(closestCenters).getBounds();
    },
    getIconUrl (centerId) {
      const centerResources = this.bloodResources.filter(resource => resource.centerId === centerId);

      if (this.isCritical(centerResources)) {
        return '/img/icons/marker-icon-red.png';
      }
      if (this.isLow(centerResources)) {
        return '/img/icons/marker-icon-yellow.png';
      }

      return '/img/icons/marker-icon-green.png';
    },
    isCritical (resources) {
      return resources.some(resource => resource.volume < bloodResources.CRITICAL);
    },
    isLow (resources) {
      return resources.every(resource => resource.volume < bloodResources.LOW);
    },
    async findNearest () {
      getCurrentLocation().then(location => {
        this.calculateFromLocation(location.coords);
        this.setBounds();
      }, () => {
        this.blockedGpsDialog = true;
      });
    },
    calculateFromLocation (location) {
      this.userLocation = {
        lat: location.latitude,
        lon: location.longitude
      };

      this.nearestCenters = this.centers
        .map(center => ({
          ...center,
          distance: calculateDistance(this.userLocation, locationToNumber(center.address))
        }))
        .sort((centerA, centerB) => centerA.distance - centerB.distance)
        .slice(0, 3)
        .map(center => ({
          ...center,
          coords: latLng(center.address.latitude, center.address.longitude)
        }));
    },
    async findNearestByAddress () {
      const location = await this.getLocationFromAddress();

      this.calculateFromLocation(location);
      this.setBounds();
      this.blockedGpsDialog = false;
    },
    async getLocationFromAddress () {
      const url = `https://nominatim.openstreetmap.org/search.php?q=${this.address}&format=json`;
      const response = await fetch(url, {
        headers: {
          'Accept': 'application/json'
        }
      });
      const addressResponse = await response.json();

      return {
        latitude: addressResponse[0].lat,
        longitude: addressResponse[0].lon
      };
    }
  }
};
</script>

<i18n>
{
  "en": {
    "gps-blocked": "GPS blocked",
    "gps-blocked-details": "You can provide your address here.",
    "distance": "Distance",
    "header": "Centers map",
    "nearest-centers": "Closest centers"
  },
  "pl": {
    "gps-blocked": "Zablokowany GPS",
    "gps-blocked-details": "Jeśli chcesz możesz poniżej podać swój adres ręcznie.",
    "distance": "Odległość",
    "header": "Mapa centrów",
    "nearest-centers": "Najbliższe placówki"
  }
}
</i18n>
