<template>
  <v-container style="padding: 0 24px; min-width: 300px; max-width: 600px">
    <h1 id="page-title" class="title red-highlight">{{ $t('header') }}</h1>
    <v-row justify="center">
      <v-expansion-panels multiple v-model="panel">
        <v-expansion-panel>
          <div class="subtitle-1">{{ $t('centers') }}</div>
          <v-expansion-panel-content style="padding: 16px 4px 0 4px">
              <v-combobox
                v-model="selectedCenters"
                :items="centersNames"
                :label="$t('pick-centers')"
                multiple small-chips>
              </v-combobox>
          </v-expansion-panel-content>
        </v-expansion-panel>

        <v-expansion-panel>
          <div class="subtitle-1">{{ $t('blood-groups') }}</div>
          <v-expansion-panel-content style="padding: 16px 4px 0 4px">
            <template v-for="(pair, pi) in selectedBloodTypes">
              <v-row :key="pi">
                <v-col class="text-center">
                  <div>
                    <template v-for="(blood, bi) in pair">
                      <v-btn small outlined :key="bi"
                             :color="blood.selected ? 'red' : 'grey'"
                             style="margin: 2px; width: 48px"
                             @click="selectBloodType(blood)">
                        {{ blood.type }}
                      </v-btn>
                    </template>
                  </div>
                </v-col>
              </v-row>
            </template>
          </v-expansion-panel-content>
        </v-expansion-panel>

        <v-expansion-panel>
            <div class="subtitle-1">{{ $t('gps-settings') }}</div>
          <v-expansion-panel-content style="padding: 16px">
            <v-row style="align-content: space-between; justify-content: center; align-items: center;">
              <v-col>
                <v-switch v-model="enableGPS"
                          :label="$t('enable-gps')">
                </v-switch>
              </v-col>

              <v-col>
                <v-switch v-model="neighbourAlerts"
                          :disabled="enableGPS ? false : true"
                          :label="$t('get-neighbourhood')">
                </v-switch>
              </v-col>
            </v-row>

            <v-row style="margin: 0 30px; justify-content: center; align-content: center">
              <v-col>
                <v-slider v-model="alertsRange" :label="`${ alertsRange } km`"
                          :min="25" :max="200" step="25">
                </v-slider>
              </v-col>
            </v-row>
          </v-expansion-panel-content>
        </v-expansion-panel>
      </v-expansion-panels>
    </v-row>

    <v-row class="d-flex" style="flex-direction: column">
      <v-btn @click="applySettings()" style="margin-top: 24px">
        {{ $t('apply') }}
      </v-btn>
    </v-row>
  </v-container>
</template>

<script>
import { mapActions, mapGetters, mapMutations } from 'vuex';
import { makeAbbrev } from '@/shared/utils/center';
import { getCurrentLocation } from '@/shared/utils/location';

import {
  FETCH_BLOOD_GROUPS,
  FETCH_CENTERS
} from '@/shared/types/actions';

import {
  GET_BLOOD_GROUPS,
  GET_CENTERS,
  GET_PREFERENCES
} from '@/shared/types/getters';

import { SET_PREFERENCES } from '@/shared/types/mutations';

export default {
  name: 'preferences',
  async mounted () {
    await this.fetchCenters();
    const centers = this.getCenters();
    this.initializeCenters(centers);

    await this.fetchBloodGroups();
    const bloodGroups = this.getBloodGroups();
    this.initializeBloodTypes(bloodGroups);

    const settings = this.getPreferences();
    for (let key of Object.keys(settings)) {
      if (key === 'selectedCenters') {
        const selectedCenters = settings[key];
        this[key] = selectedCenters.map(id => this.centersReverseMap[id]);
      } else {
        this[key] = settings[key];
      }
    }
  },
  data: () => ({
    panel: [0, 1, 2],
    enableGPS: false,
    neighbourAlerts: false,
    selectedBloodTypes: [],
    selectedCenters: [],
    centersNames: [],
    centersMap: {},
    centersReverseMap: {},
    alertsRange: 50
  }),
  watch: {
    enableGPS: async function (enabled) {
      if (enabled) {
        getCurrentLocation().then(() => {
        }, () => {
          alert(this.$t('gps-blocked-browser'));
        });
      }

      this.neighbourAlerts = enabled ? this.neighbourAlerts : false;
    }
  },
  methods: {
    applySettings () {
      const settings = {
        enableGPS: this.enableGPS,
        neighbourAlerts: this.neighbourAlerts,
        selectedBloodTypes: this.selectedBloodTypes,
        alertsRange: this.alertsRange,
        selectedCenters: this.selectedCenters.map(abbrev => {
          return this.centersMap[abbrev];
        })
      };

      this.setPreferences(settings);
    },
    selectBloodType (type) {
      type.selected = !type.selected;
    },
    initializeCenters (centers) {
      let centersMap = {};
      let centersReverseMap = {};
      const centersNames = Object.keys(centers).map(key => {
        const center = centers[key];
        const abbrev = makeAbbrev(center.name);
        centersMap[abbrev] = center.name;
        centersReverseMap[center.name] = abbrev;
        return abbrev;
      });

      this.$set(this, 'centersMap', centersMap);
      this.$set(this, 'centersReverseMap', centersReverseMap);
      this.$set(this, 'centersNames', centersNames);
    },
    initializeBloodTypes (bloodGroups) {
      let minus = [];
      let plus = [];
      for (let b of bloodGroups) {
        if (b.rh === '-') {
          minus = [
            ...minus, {
              type: b.bloodType + b.rh,
              bloodGroupId: b.bloodGroupId,
              selected: true
            }
          ];
        } else if (b.rh === '+') {
          plus = [
            ...plus, {
              type: b.bloodType + b.rh,
              bloodGroupId: b.bloodGroupId,
              selected: true
            }
          ];
        }
      }

      if (Array.isArray(this.selectedBloodTypes) &&
        this.selectedBloodTypes.length === 0) {
        this.selectedBloodTypes = [minus, plus];
      }
    },
    ...mapActions({
      fetchBloodGroups: FETCH_BLOOD_GROUPS,
      fetchCenters: FETCH_CENTERS
    }),
    ...mapGetters({
      getBloodGroups: GET_BLOOD_GROUPS,
      getCenters: GET_CENTERS,
      getPreferences: GET_PREFERENCES
    }),
    ...mapMutations({
      setPreferences: SET_PREFERENCES
    })
  }
};
</script>

<style scoped>
.v-expansion-panel .subtitle-1 {
  text-align: left;
  padding: 16px 24px;
  border-bottom: 1px solid #c0c0c0;
}
</style>

<i18n>
{
  "en": {
    "apply": "Apply",
    "header": "Preferences",
    "alerts-range": "Range of alerts",
    "blood-groups": "Blood groups",
    "centers": "Blood centers",
    "pick-centers": "Pick centers",
    "gps-settings": "GPS settings",
    "enable-gps": "enable geolocalization",
    "get-neighbourhood": "get alerts from neighbourhood",
    "gps-blocked-browser": "You must enable gps in browser settings."
  },
  "pl": {
    "apply": "Zastosuj",
    "header": "Preferencje",
    "alerts-range": "Zasięg alertów",
    "blood-groups": "Grupy krwi",
    "centers": "Centra krwi",
    "pick-centers": "Wybierz centra",
    "gps-settings": "Ustawienia GPS",
    "enable-gps": "włącz geolokalizacje",
    "get-neighbourhood": "otrzymuj alerty z pobliża",
    "gps-blocked-browser": "Musisz zezwolić na dostęp do gps w przeglądarce."
  }
}
</i18n>
